#page-1{
  background-image: url("../img/snow.jpeg");
}
#page-2{
  background-image: url("../img/sky.jpg");
}
#page-3{
  background-image: url("../img/sunset.jpeg");
}
footer{
	padding: 20px;
	background-color: #eee;
	color: #333;
	border-top: 1px #ccc solid;
}

.page .content {
	padding: 90px 20%;
}