#page-1{
  background-image: url("../img/snow.jpeg");
}
#page-2{
  background-image: url("../img/pic3.jpg");
}
#page-3{
  background-image: url("../img/pic4.jpg");
}
footer{
	padding: 20px;
	background-color: #eee;
	color: #333;
	border-top: 1px #ccc solid;
}

.page {
	/*padding: 90px;*/
}
.page .content {
	padding: 30px;
	background: none repeat scroll 0 0 rgba(300, 300, 300, 0.7);
}